.active {
  color: #1d4ed8; /* Active link color */
  font-weight: 600; /* Active link font weight */
}

.sticky-navbar {
  position: fixed; /* Fix the navbar */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}